.app{
    background-image: url(../assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    min-height: 113vh;
    height: auto;
}
.app.destination{
    background-image: url(../assets/destination/background-destination-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    min-height: 113vh; 
}
.app.crew{
    background-image: url(../assets/crew/background-crew-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    min-height: 113vh;
}
.app.technology{
    background-image: url(../assets/technology/background-technology-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    min-height: 113vh;
}
@media (min-width: 420px) and (max-width: 820px){
    .app{
        background-image: url(../assets/home/background-home-tablet.jpg);
        min-height: 100vh;
    }
    .app.destination{
        background-image: url(../assets/destination/background-destination-tablet.jpg);
    }
    .app.crew{
        background-image:url(../assets/crew/background-crew-tablet.jpg) ;
    }
    .app.technology{
        background-image:url(../assets/technology/background-technology-tablet.jpg) ;
    }
}
@media (min-width:821px) {
    .app{
        background-image: url(../assets/home/background-home-desktop.jpg);
        min-height: 100vh;
        padding: 3rem 0 0 0;
    }
    .app.destination{
        background-image: url(../assets/destination/background-destination-desktop.jpg);
    }
    .app.crew{
        background-image: url(../assets/crew/background-crew-desktop.jpg);
    }
    .app.technology{
        background-image: url(../assets/technology/background-technology-desktop.jpg);
    }
}